.gss-admin .col-sm-6 .m-0 {
    padding-left: calc(var(--bs-gutter-x)* .5);
    padding-right: calc(var(--bs-gutter-x)* .5);
}

.list-serviceable .navigation {
    margin-top: 15px;
}

.img-thumbnail {
    max-width: 100%;
    max-height: 300px;
}